.display-box {
	background-color: rgb(255, 115, 0);
	width: 80px;
	height: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	margin-right: 10px;
	border-radius: 5px;
	color: white;
}

.Counters {
	width: 30%;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
}

#success {
	background-color: rgb(161, 248, 166);
	width: 80px;
	height: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	margin-right: 10px;
	border-radius: 5px;
	color: black;
	border: unset;
}

#reduce {
	background-color: rgb(255, 70, 70);
	width: 80px;
	height: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	margin-right: 10px;
	border-radius: 5px;
	color: black;
	border: unset;
}
