.LoginPage {
	display: flex;
	padding: 0px;
	box-sizing: unset;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	align-content: center;
	height: 100vh;
	background-color: #6194f5;
}

.mobile-navigation-off {
	display: none;
	transform: translateX(100%);
	transition-property: all 5s;
}

a {
	text-decoration: none;
	color: cornflowerblue;
}

.forgot-password {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	padding: 10px;
	color: rgb(117, 116, 116);
	font-size: 12px;
	width: 95%;
}

.mobile-navigation {
	display: none;
}

.registeration-link {
	display: flex;
	flex-direction: row;
	align-items: flex-end;
	justify-content: center;
	width: 50%;
	font-size: 13px;
	margin-bottom: 20px;
}

.registeration-link label {
	margin-right: 10px;
}
.image-place-holder {
	width: 20vh;
	height: 20vh;
	margin-bottom: -50px;
}

.login-page-title {
	color: white;
}

.box {
	height: 500px;
	width: 700px;
	background-color: white;
	justify-content: center;
	align-items: center;
	display: flex;
	flex-direction: column;
	box-shadow: 1px 1px 5px;
	border-radius: 10px;
	margin-bottom: 20px;
}

.login-form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	/* background-color: turquoise; */
	height: 350px;
	animation: move 0.5s ease-in;
}

.login-form-off {
	display: none;
	flex-direction: column;
	justify-content: center;
	/* background-color: turquoise; */
	height: 300px;
}

.register-form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	/* background-color: turquoise; */
	height: 350px;
	animation: move 0.5s ease-in;
}

@keyframes move {
	0% {
		opacity: 0%;
	}
	25% {
		opacity: 0.3;
	}
	50% {
		opacity: 0.6;
	}

	72% {
		opacity: 0.8;
	}
	100% {
		opacity: 1;
	}
}

.register-form-off {
	display: none;
	flex-direction: column;
	justify-content: center;
	/* background-color: turquoise; */
	height: 300px;
}

.inputFields {
	height: 35px;
	width: 400px;
	margin-top: 10px;
	/* border-radius: 5px; */
	padding: 5px;
	border: 1px solid #6194f5;
	font-size: 15px;
	outline: none;
	color: rgb(117, 116, 116);
	font-size: 14px;
}

.original {
	background-color: #ee1e1e;
	height: 40px;
	border: none;
	border-radius: 5px;
	margin-top: 50px;
	color: white;
}

.success {
	background-color: #ee9b1e;
	width: 420px;
	height: 40px;
	border: none;
	/* border-radius: 5px; */
	margin-top: 10px;
	color: white;
}

.active {
	background-color: #ee9b1e;
	height: 40px;
	border: none;
	border-radius: 5px;
	margin-top: 50px;
	color: white;
}

.notActive {
	background-color: #60ee1e;
	height: 40px;
	border: none;
	border-radius: 5px;
	margin-top: 50px;
	color: white;
}

@media only screen and (max-width: 768px) {
	.box {
		height: 80%;
		width: 400px;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.register-form {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		/* background-color: turquoise; */
		height: 350px;
	}

	.register-form-off {
		display: none;
		flex-direction: column;
		justify-content: center;
		/* background-color: turquoise; */
		height: 300px;
	}

	.login-form {
		display: flex;
		flex-direction: column;
		justify-content: center;
		/* background-color: turquoise; */
		height: 350px;
	}

	.login-form-off {
		display: none;
		flex-direction: column;
		justify-content: center;
		/* background-color: turquoise; */
		height: 300px;
	}

	li:hover {
		background-color: unset;
		color: #ee1e1e;
		/* width: 50px; */
		/* border-radius: 3px; */
		transition: ease-in 0.5;
	}

	.inputFields {
		height: 30px;
		width: 250px;
		margin-top: 10px;
		border-radius: 5px;
		padding: 5px;
		border: 1px solid #6194f5;
	}

	.login-form {
		display: flex;
		flex-direction: column;
		justify-content: center;
		margin-top: 15%;
		/* background-color: turquoise; */
		height: 250px;
		width: 70%;
	}

	.success {
		background-color: #ee9b1e;
		width: 95%;
		height: 40px;
		border: none;
		margin-top: 10px;
		color: white;
	}

	.mobile-navigation {
		background-color: rgb(247, 247, 247);
		transition: transform 1s;
		transform: translateX(0);
		height: 60%;
		width: 60%;
		display: flex;
		list-style: none;
		flex-direction: column;
		align-items: flex-start;
		justify-content: center;
		position: absolute;
		left: -1px;
		top: -15px;
	}

	.mobile-navigation li {
		margin-bottom: 20px;
	}

	.mobile-navigation-off {
		background-color: rgb(247, 247, 247);
		transition: transform 1s;
		transform: translateX(-100%);
		height: 60%;
		width: 60%;
		display: flex;
		list-style: none;
		flex-direction: column;
		align-items: flex-start;
		justify-content: center;
		position: absolute;
		left: -1px;
		top: -15px;
	}

	.mobile-navigation-off li {
		margin-bottom: 20px;
	}

	.mobile-navigation li :hover {
		color: #ee1e1e;
	}
}
