.navbar {
	background-color: rgb(243, 243, 243);
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	box-sizing: unset;
	position: absolute fixed top;
	margin-bottom: 160px;

	height: 7%;
}

.mobile-navigation {
	display: none;
}

.navbar img {
	margin-left: 10px;
	height: 45px;
}

.desktop-navigation {
	display: flex;
	height: 50px;
	margin-left: auto;
	margin-right: 10px;
}

.desktop-navigation li {
	display: flex;
	align-items: center;
	list-style: none;
	padding: 5px;
	margin-right: 10px;
}

.desktop-navigation li a {
	text-decoration: none;
	color: black;
	font-size: 12px;
}

li:hover {
	background-color: rgb(255, 255, 255);
	/* width: 50px; */
	/* border-radius: 3px; */
	transition: ease-in 0.5;
}

@media only screen and (max-width: 768px) {
	.navbar {
		background-color: rgb(243, 243, 243);
		width: 100%;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		position: absolute fixed top;
		margin-bottom: 100px;
		height: 10%;
	}

	.navbar img {
		margin-left: 10px;
		height: 35px;
	}

	.navbar ul li a {
		font-size: 15px;
	}
	.hamburger {
		border: solid 1px #6194f5;
		width: 50px;
		height: 40px;
		display: flex;
		flex-direction: column;
		margin-right: 20px;
		align-items: center;
		justify-content: center;
		border-radius: 2px;
		margin-left: auto;
		z-index: 3;
	}

	.hamburger:hover {
		background-color: rgb(0, 195, 255);
		transition: 1s;
	}

	.hamburger div {
		background-color: rgb(0, 0, 0);
		width: 40px;
		height: 5px;
		margin-top: 2px;
		margin-bottom: 2px;
		border-radius: 2px;
	}

	.desktop-navigation {
		display: none;
		align-items: center;
		list-style: none;
		padding: 5px;
		margin-right: 10px;
	}
}
